<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidenav">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('products') }}">Products</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>
    

    <div class="content">
        <h1>Welcome to the Product Search Engine</h1>
        <p>Bu sayfa, ürün arama motorunun ana sayfasıdır. Trendyol'dan ürünleri arayın ve sonuçları burada görüntüleyin.</p>
    </div>

    <div class="footer">
        <p>&copy; 2024 Product Search</p>
    </div>
</body>
</html>
