<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidenav">
        <a href="home.html">Home</a>
        <a href="products.html">Products</a>
        <a href="about.html">About</a>
    </div>

    <div class="content">
        <h1>Our Products</h1>
        <p>Bu sayfa, projede kullanılan ve aranan ürünlerin bir listesini içermektedir. Buradan ürünlerle ilgili detaylara ulaşabilirsiniz.</p>
    </div>

    <div class="footer">
        <p>&copy; 2024 Product Search</p>
    </div>
</body>
</html>
